
.Kuda
{background:orange;}

p
{font-style: italic;
font-weight: 800;
color:skyblue ;
font-size: large;}

.Keledai
{color: springgreen;}

.Baju
{background: steelblue;
text-align: center;}

/*Gallery*/
.title
{padding-top: 75;
text-align: center;
color:skyblue;
font-weight: 800;}

.Yuri
{background-color: cornsilk;}

#Bebas
{padding-top: 75;}
